@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    background-color: #24252a;
    margin: 0;
    height: 100%;
    color: #edf0f1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500px;
    font-size: 9px;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.inputBox {
    width: 200px;
    text-align: center;
}

.full-fp {
    height: 100vh;
    width: 100vw;
}

// navbar

.nav__links {
    display: inline-block;
    padding: 0px 12.5px;
    transition: all 0.3s ease 0s;
}

.nav__links:hover {
    color: #0088a9;
    text-underline-offset: 3px;
    text-decoration: underline;
}

.signUpButton {
    border: none;
    padding: 10px 25px;
    margin-left: 12.5px;
    white-space: nowrap;
    text-decoration: bold;
    // border-radius: 50px;
    background-color: #edf0f1;
    color: #24252a;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.signUpButton:hover {
    background-color: rgba(0, 136, 169, 1);
}

button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 10px;
    color: #edf0f1;
    background-color: transparent;
    border: none;
    padding: 10px 25px;
    text-decoration: none;
}

#logo-container {
    display: flex;
    width: 200px;
}

#logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500px;
    font-size: 20px;
    color: #edf0f1;
}

.nav-container {
    height: 6vh;
}

.nav-left {
    display: flex;
    align-items: center;
    width: 200px;
    margin-left: 1rem;
}

.nav-right {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 200px;
    margin-right: 1rem;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500px;
    font-size: 10px;
    color: #edf0f1;
}

// fb body

.FB_body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.35;
    margin: 100px;
}

.mainimg {
    width: 100vw;
    height: 92vh;
}

// login

.loginPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
    font-size: 15px;
}
.loginBoxHeader {
    padding-left:50px
}

.loginBox {
    border: 1px solid #edf0f1;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 50px 35px 50px;
}

.loginSubmitButton {
    display: block;
}

// interface

.Interface {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedContainer {
    width: 610px;
    height: 90vh;
    border: 2px solid #9d9d9d;
    overflow: scroll;
    border-radius: 15px;
}

.postInterview {
    margin: 10px 0px;
    font-size: 12px;
    padding: 10px 25px;
    border: 1px solid #edf0f1;
    margin: 10px;
}

// Post

.postPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.postContents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-line {
    margin-top: 25px;
}

.sm-input-box {
    min-width: 150px;
}

.md-input-box {
    min-width: 500px;
    min-height: 100px;
}

.lg-input-box {
    min-width: 500px;
    min-height: 300px;
}


// two body components, given half the width of their parent container in grid-template-columns
.interviewBody{
  
    width : 600px;
    display: grid;
    
    grid-template-columns: 50% 50%;
    //background-color:#ffffff39;
    grid-gap: 4px;
    border: 3px rgb(255, 255, 255);
    padding-left : 10px;
    
  
}
.bodyComponent{
    font-family: 'Montserrat', sans-serif;
    width : 275px;
    border: 3px rgb(255, 255, 255);
    background-color: #24252a38;
    height:auto;
    padding: 5px;
    border-radius:15px;
    box-shadow: 1px 1px #ffffff;

}



.bodyComponentTitle{
    font-weight:bold;
    font-size:small;
    text-decoration: underline;
}
.interviewBodyNotesHeader{
    font-style:italic;
    font-weight:bold;
    font-size:small;
}
.interviewHeaderRole{
    font-weight:bold;
    font-size:medium;
}
.interviewHeaderCompany{
    font-style:italic;
    font-weight:lighter;
    font-size:small;
}


//for the header,
//a flex box with three components:
//position title, name of poster, and company name
//note how the grid-template column is specified to make that work
.interviewHeader{
    display:grid;
    grid-template-columns:90% 10%;
    grid-gap: 4px;
    border: 3px rgb(255, 255, 255);
    padding: 10px
}
.interviewContainer{
    background-color:#cfcfcf8a;
    border-radius:15px;
    box-shadow: 1px 1px #dcdcdc;
}
.interviewBodyNotes{
    padding: 10px;
    border-radius:15px;
}

